.categoryes{
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;

}
.criando-cate-conteiner {
    width: 100%;
    padding: 20px;
    gap: 12px;
    display: none;
    flex-direction: row;
}

.cate-products-container {
    display: none;
}

.cate-products {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px #d9d9d9;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #d9d9d9;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 12px;
}

.cate-products span {
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    padding: 1rem;
    font-weight: 700;
}

.cate-products img {
    width: 379px;
    height: 379px;
    margin-bottom: 50px;
}

.criando-cate {
    width: 50%;
    height: 50%;
    display: flex;
    gap: 12px;
}

.selecionar-produto-cate {
    border: 2px solid #d9d9d9;
    width: 750px;
    height: 430px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px #d9d9d9;
}

.produtos-lista-cate {
    padding: 0;
}

.produto-item-cate {
    display: flex;
    align-items: center;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
    padding: 17px;
    border: 2px solid #d9d9d9;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.produto-item-cate:hover {
    background-color: #FEC919;
}

.icone-cate {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.icone-cate img {
    width: 17px;
}