.content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.content #imagem {
    width: 200px;
    height: 250px;

    margin: 49px;
}

.content form {
    display: flex;
    position: relative;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    height: 100%;
    margin-bottom: 49px;
}

form input {
    font-size: 15px;
    font-weight: 500;
    border: solid 2px #a6a6a6;
    padding: 1rem;
    border-radius: 20px;
    width: 665px;
}

form .list input {
    width: 316px;
}

form textarea {
    font-size: 16px;
    font-weight: 500;
    border: solid 2px #a6a6a6;
    padding: 1rem;
    border-radius: 20px;
    min-width: 665px;

    max-width: 665px;
    height: 151px;
    max-height: 151px;
    min-height: 151px;
}

form button {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    background: #00C943;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    width: 705px;
    transition: ease 1s;
}

form button:hover {
    transform: scale(1.1);
}